In [ ]:
## 테스트

In [27]:
# 인증키 1308370912
# request url : http://data.ex.co.kr/openapi/trtm/realUnitTrtm

import requests
url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=json&iStartUnitCode=101&iEndUnitCode=103&numOfRows=10&pageNo=1"

req = requests.get(url)
print(req)

<Response [200]>

In [28]:
json_df = req.json()
json_df

{'count': 520,
 'pageNo': 1,
 'numOfRows': 10,
 'pageSize': 52,
 'realUnitTrtmVO': [{'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.316666666666666',
   'timeMax': '11.266',
   'timeMin': '5.916',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:05',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '16',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.8',
   'timeMax': '14.300',
   'timeMin': '5.866',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00  ',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '203',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.25',
   'timeMax': '14.300',
   'timeMin': '5.866',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:00',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '62',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.166666666666666',
   'timeMax': '9.433',
   'timeMin': '5.866',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:10',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '18',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.025',
   'timeMax': '11.150',
   'timeMin': '5.933',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:15',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '75',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.083333333333334',
   'timeMax': '11.150',
   'timeMin': '6.166',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:20',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '17',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.95',
   'timeMax': '9.866',
   'timeMin': '6.416',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:25',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '14',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.908333333333333',
   'timeMax': '10.100',
   'timeMin': '5.883',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:30',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '71',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.816666666666666',
   'timeMax': '10.066',
   'timeMin': '5.983',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:35',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '19',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.8',
   'timeMax': '10.100',
   'timeMin': '6.150',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:40',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '14',
   'iStartEndStdTypeCode': None}],
 'message': '인증키가 유효합니다.',
 'code': 'SUCCESS'}

In [17]:
import pandas as pd

cars = json_df['realUnitTrtmVO']
pd.DataFrame(cars)

,pageNo,numOfRows,startUnitCode,endUnitCode,stdDate,sumTmUnitTypeCode,startEndStdTypeCode,timeAvg,timeMax,timeMin,...,stdTime,startUnitNm,endUnitNm,startEndStdTypeNm,tcsCarTypeName,tcsCarTypeCode,tcsCarTypeDivName,tcsCarTypeDivCode,efcvTrfl,iStartEndStdTypeCode
0,None,None,101,103,20230807,None,2,8.316666666666666,11.266,5.916,...,00:05,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,16,None
1,None,None,101,103,20230807,None,2,7.8,14.300,5.866,...,00,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,203,None
2,None,None,101,103,20230807,None,2,8.25,14.300,5.866,...,00:00,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,62,None
3,None,None,101,103,20230807,None,2,8.166666666666666,9.433,5.866,...,00:10,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,18,None
4,None,None,101,103,20230807,None,2,9.5,12.700,9.483,...,05:45,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,172,None
5,None,None,101,103,20230807,None,2,10.066666666666666,12.700,10.033,...,05:50,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,35,None
6,None,None,101,103,20230807,None,2,10.3,12.583,9.883,...,05:55,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,47,None
7,None,None,101,103,20230807,None,2,9.5,16.183,10.550,...,06,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,554,None
8,None,None,101,103,20230807,None,2,9.958333333333334,13.416,10.550,...,06:00,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,170,None
9,None,None,101,103,20230807,None,2,10.75,13.416,10.950,...,06:05,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,42,None

In [44]:
'''
records = []
for car in cars:
    row_dict = {}
    row_dict = ["date"] = car["stdDate"]
    row_dict = ["timeAvg"] = car["timeAvg"]
    records.append(row_dict)
pd.DataFrame(records)
'''

records = []

for car in cars:
    row_dict = {"date": car["stdDate"], "timeAvg": car["timeAvg"]}
    records.append(row_dict)

pd.DataFrame(records)

       date             timeAvg
0  20230807   8.316666666666666
1  20230807                 7.8
2  20230807                8.25
3  20230807   8.166666666666666
4  20230807                 9.5
5  20230807  10.066666666666666
6  20230807                10.3
7  20230807                 9.5
8  20230807   9.958333333333334
9  20230807               10.75

In [29]:
### 테스트

In [85]:
# 인증키 1308370912
# request url : http://data.ex.co.kr/openapi/trtm/realUnitTrtm

import requests
url2 = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103&numOfRows=10&pageNo=1"

req = requests.get(url2)
print(req.text)

## 미션 XML 결괏값으로 데이터프레임으로 변환 (11시 10분까지)

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><data><code>SUCCESS</code><message>인증키가 유효합니다.</message><count>583</count><numOfRows>10</numOfRows><pageNo>1</pageNo><pageSize>59</pageSize><realUnitTrtmVO><efcvTrfl>17</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:20</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.083333333333334</timeAvg><timeMax>11.150</timeMax><timeMin>6.166</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>75</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:15</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.025</timeAvg><timeMax>11.150</timeMax><timeMin>5.933</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>16</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:05</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.316666666666666</timeAvg><timeMax>11.266</timeMax><timeMin>5.916</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>203</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00  </stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>7.8</timeAvg><timeMax>14.300</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>62</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:00</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.25</timeAvg><timeMax>14.300</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>18</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:10</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.166666666666666</timeAvg><timeMax>9.433</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>162</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>05:30</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.775</timeAvg><timeMax>13.016</timeMax><timeMin>8.316</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>39</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>05:35</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>9.083333333333334</timeAvg><timeMax>11.566</timeMax><timeMin>8.883</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>43</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>05:40</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>9.366666666666667</timeAvg><timeMax>10.916</timeMax><timeMin>9.166</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>172</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>05:45</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>9.5</timeAvg><timeMax>12.700</timeMax><timeMin>9.483</timeMin></realUnitTrtmVO></data>

In [87]:
%%timeit

xml_df = pd.read_xml(url2)
pd.DataFrame(xml_df)

3.13 s ± 846 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [92]:
%%timeit

import requests
import lxml
from bs4 import BeautifulSoup
import pandas as pd
url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103"
req = requests.get(url)
# print(req.text)
soup = BeautifulSoup(req.text, "lxml") # XML 반환값이라서 lxml을 사용한 것
# print(soup.prettify())
## 미션 XML 결괏값으로 데이터프레임으로 변환 (11시 10분까지)
stddate_list = soup.find_all("stddate")
timeAvg_list = soup.find_all("timeavg")
stddate = []
avgTime = []
for date, timeAvg in zip(stddate_list, timeAvg_list):
    # print(date.get_text(), timeAvg.get_text())
    stddate.append(date.get_text())
    avgTime.append(timeAvg.get_text())
df = pd.DataFrame({"date":stddate, "avgTime" : avgTime})
df
# timeAvg_list

931 ms ± 40 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [94]:
%%timeit

xml_df = pd.read_xml(url2)
pd.DataFrame(xml_df)

1.02 s ± 143 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [93]:
## 부동산 실거래가 인증키 있음
 - 서울 열린데이터 광장에 부동산 데이터 수집
 - 공공데이터 포털 부동산 데이터 수집
 - 13시 20분 까지 진행

In [159]:
import requests
import pandas as pd

api_key = "6369694d77666f6f393467626a6252"
url = f"http://openapi.seoul.go.kr:8088/{api_key}/xml/tbLnOpendataRentV/1/5/"
req = requests.get(url)
print(req)

df = pd.read_xml(req.content, xpath='/tbLnOpendataRentV/row')
pd.DataFrame(df).head()

<Response [200]>

In [173]:
df = pd.read_xml(req.content, xpath='/tbLnOpendataRentV/row')
pd.DataFrame(df).head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BOBN,BUBN,FLR_NO,...,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM,CNTRCT_PRD,NEW_RON_SECD,CNTRCT_UPDT_RQEST_AT,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE
0,2023,11410,서대문구,11100,홍제동,1.0,대지,454.0,0.0,6.0,...,239,8,유원하나,1996,아파트,None,None,NaN,NaN,NaN
1,2023,11215,광진구,10200,능동,NaN,None,NaN,NaN,NaN,...,10000,55,None,2008,단독다가구,23.09~25.09,신규,NaN,0.0,0.0
2,2023,11230,동대문구,10100,신설동,1.0,대지,98.0,28.0,11.0,...,21000,0,동대문 프라임시티,2023,오피스텔,23.08~25.08,신규,NaN,0.0,NaN
3,2023,11680,강남구,10700,신사동,1.0,대지,523.0,14.0,5.0,...,20790,0,라제,2002,연립다세대,23.09~25.09,갱신,NaN,19800.0,NaN
4,2023,11140,중구,16500,황학동,1.0,대지,819.0,0.0,9.0,...,5000,47,DUO302,2014,오피스텔,23.08~25.08,갱신,NaN,5000.0,45.0

In [191]:
import xmltodict
import requests
import pandas as pd

api_key = "6369694d77666f6f393467626a6252"
url = f"http://openapi.seoul.go.kr:8088/{api_key}/xml/tbLnOpendataRentV/1/5/"
req = requests.get(url)

data_dict = xmltodict.parse(req.text)
data_dict
# pd.DataFrame(data_dict['tbLnOpendataRentV']['RESULT']['row'])
# pd.DataFrame(data_dict['response']['body']['items']['item'])

{'tbLnOpendataRentV': {'list_total_count': '5458682',
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'ACC_YEAR': '2023',
    'SGG_CD': '11410',
    'SGG_NM': '서대문구',
    'BJDONG_CD': '11100',
    'BJDONG_NM': '홍제동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BOBN': '0454',
    'BUBN': '0000',
    'FLR_NO': '6',
    'CNTRCT_DE': '20230805',
    'RENT_GBN': '월세',
    'RENT_AREA': '28.71',
    'RENT_GTN': '239',
    'RENT_FEE': '8',
    'BLDG_NM': '유원하나',
    'BUILD_YEAR': '1996',
    'HOUSE_GBN_NM': '아파트',
    'CNTRCT_PRD': None,
    'NEW_RON_SECD': None,
    'CNTRCT_UPDT_RQEST_AT': None,
    'BEFORE_GRNTY_AMOUNT': None,
    'BEFORE_MT_RENT_CHRGE': None},
   {'ACC_YEAR': '2023',
    'SGG_CD': '11215',
    'SGG_NM': '광진구',
    'BJDONG_CD': '10200',
    'BJDONG_NM': '능동',
    'LAND_GBN': None,
    'LAND_GBN_NM': None,
    'BOBN': None,
    'BUBN': None,
    'FLR_NO': None,
    'CNTRCT_DE': '20230804',
    'RENT_GBN': '월세',
    'RENT_AREA': '60',
    'RENT_GTN': '10000',
    'RENT_FEE': '55',
    'BLDG_NM': None,
    'BUILD_YEAR': '2008',
    'HOUSE_GBN_NM': '단독다가구',
    'CNTRCT_PRD': '23.09~25.09',
    'NEW_RON_SECD': '신규',
    'CNTRCT_UPDT_RQEST_AT': None,
    'BEFORE_GRNTY_AMOUNT': '0',
    'BEFORE_MT_RENT_CHRGE': '0'},
   {'ACC_YEAR': '2023',
    'SGG_CD': '11230',
    'SGG_NM': '동대문구',
    'BJDONG_CD': '10100',
    'BJDONG_NM': '신설동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BOBN': '0098',
    'BUBN': '0028',
    'FLR_NO': '11',
    'CNTRCT_DE': '20230804',
    'RENT_GBN': '전세',
    'RENT_AREA': '17.25',
    'RENT_GTN': '21000',
    'RENT_FEE': '0',
    'BLDG_NM': '동대문 프라임시티',
    'BUILD_YEAR': '2023',
    'HOUSE_GBN_NM': '오피스텔',
    'CNTRCT_PRD': '23.08~25.08',
    'NEW_RON_SECD': '신규',
    'CNTRCT_UPDT_RQEST_AT': None,
    'BEFORE_GRNTY_AMOUNT': '0',
    'BEFORE_MT_RENT_CHRGE': None},
   {'ACC_YEAR': '2023',
    'SGG_CD': '11680',
    'SGG_NM': '강남구',
    'BJDONG_CD': '10700',
    'BJDONG_NM': '신사동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BOBN': '0523',
    'BUBN': '0014',
    'FLR_NO': '5',
    'CNTRCT_DE': '20230804',
    'RENT_GBN': '전세',
    'RENT_AREA': '49.08',
    'RENT_GTN': '20790',
    'RENT_FEE': '0',
    'BLDG_NM': '라제',
    'BUILD_YEAR': '2002',
    'HOUSE_GBN_NM': '연립다세대',
    'CNTRCT_PRD': '23.09~25.09',
    'NEW_RON_SECD': '갱신',
    'CNTRCT_UPDT_RQEST_AT': None,
    'BEFORE_GRNTY_AMOUNT': '19800',
    'BEFORE_MT_RENT_CHRGE': None},
   {'ACC_YEAR': '2023',
    'SGG_CD': '11140',
    'SGG_NM': '중구',
    'BJDONG_CD': '16500',
    'BJDONG_NM': '황학동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BOBN': '0819',
    'BUBN': '0000',
    'FLR_NO': '9',
    'CNTRCT_DE': '20230804',
    'RENT_GBN': '월세',
    'RENT_AREA': '22.52',
    'RENT_GTN': '5000',
    'RENT_FEE': '47',
    'BLDG_NM': 'DUO302',
    'BUILD_YEAR': '2014',
    'HOUSE_GBN_NM': '오피스텔',
    'CNTRCT_PRD': '23.08~25.08',
    'NEW_RON_SECD': '갱신',
    'CNTRCT_UPDT_RQEST_AT': None,
    'BEFORE_GRNTY_AMOUNT': '5000',
    'BEFORE_MT_RENT_CHRGE': '45'}]}}

In [178]:
### 공공데이터 포털

In [214]:
import requests
import pandas as pd 

serviceKey = '5ndtXpGgDUjWmGUKTUw4aR0XUEjNMhy4sBcaUO6f0TKfqHKPWI3js1btupUfWAP7Cdn8KjSTNhlgIi12S5uqQA%3D%3D'
pageNo = 1 # 페이지 번호
numOfRows = 1000 # 한 페이지 결과수
LAWD_CD = 11560 # 지역코드
DEAL_YMD = 202307 # 계약월
url = f'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey={serviceKey}&pageNo={pageNo}&numOfRows=10&LAWD_CD={LAWD_CD}&DEAL_YMD={DEAL_YMD}'
req = requests.get(url)
# req

In [179]:
!pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [184]:
import xmltodict

data_dict = xmltodict.parse(req.text)
# data_dict

pd.DataFrame(data_dict['response']['body']['items']['item'])

,거래금액,거래유형,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명코드,...,일,일련번호,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부,도로명지상지하코드
0,"41,700",중개거래,2020,2023,경인로,00900,00000,11560,00,3000028,...,1,11560-2153,30.2696,서울 영등포구,94-2,11560,3,None,None,NaN
1,"30,500",직거래,2022,2023,경인로114길,00006,00000,11560,00,4154044,...,31,11560-2281,31.19,None,92-3,11560,5,None,None,0
2,"62,260",중개거래,2022,2023,버드나루로,00005,00000,11560,00,3118010,...,17,11560-2270,38.441,서울 영등포구,139,11560,8,None,None,0
3,"62,260",중개거래,2022,2023,버드나루로,00005,00000,11560,00,3118010,...,17,11560-2270,38.441,서울 영등포구,139,11560,8,23.08.01,O,0
4,"10,400",중개거래,2014,2023,영중로6길,00012,00000,11560,01,4154816,...,7,11560-1680,13.53,서울 영등포구,19-2,11560,7,None,None,0
5,"145,700",중개거래,2017,2023,국회대로54길,00010,00000,11560,00,4154084,...,4,11560-1955,84.75,서울 영등포구,203,11560,12,None,None,NaN
6,"145,000",중개거래,2017,2023,국회대로54길,00010,00000,11560,00,4154084,...,6,11560-1955,84.75,서울 영등포구,203,11560,11,None,None,NaN
7,"120,000",중개거래,2017,2023,국회대로54길,00010,00000,11560,00,4154084,...,6,11560-1955,59.91,"서울 송파구, 서울 영등포구",203,11560,13,None,None,NaN
8,"81,000",중개거래,1999,2023,영중로,00145,00000,11560,06,3118024,...,1,11560-7,59.91,서울 영등포구,76-1,11560,6,None,None,0
9,"102,000",중개거래,1999,2023,영중로,00145,00000,11560,06,3118024,...,4,11560-7,84.87,"서울 양천구, 서울 영등포구",76-1,11560,6,None,None,0

In [189]:
## 서울 열림데이터 광장

In [238]:
import requests
import json
import pandas as pd
SERVICE_KEY = '564b7852646a686a34336f4f6c5571'

url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/1/1/2023/11560'
req = requests.get(url)
data_json = req.json()
print(json.dumps(data_json, indent=2))

{
  "tbLnOpendataRtmsV": {
    "list_total_count": 1862,
    "RESULT": {
      "CODE": "INFO-000",
      "MESSAGE": "\uc815\uc0c1 \ucc98\ub9ac\ub418\uc5c8\uc2b5\ub2c8\ub2e4"
    },
    "row": [
      {
        "ACC_YEAR": "2023",
        "SGG_CD": "11560",
        "SGG_NM": "\uc601\ub4f1\ud3ec\uad6c",
        "BJDONG_CD": "10900",
        "BJDONG_NM": "\uc601\ub4f1\ud3ec\ub3d98\uac00",
        "LAND_GBN": "1",
        "LAND_GBN_NM": "\ub300\uc9c0",
        "BONBEON": "0051",
        "BUBEON": "0001",
        "BLDG_NM": "\uba54\uc774\uc900",
        "DEAL_YMD": "20230804",
        "OBJ_AMT": "8000",
        "BLDG_AREA": 17.44,
        "TOT_AREA": 25.56,
        "FLOOR": 6.0,
        "RIGHT_GBN": "",
        "CNTL_YMD": "",
        "BUILD_YEAR": "2012",
        "HOUSE_TYPE": "\uc624\ud53c\uc2a4\ud154",
        "REQ_GBN": "\uc911\uac1c\uac70\ub798",
        "RDEALER_LAWDNM": "\uc11c\uc6b8 \uc601\ub4f1\ud3ec\uad6c"
      }
    ]
  }
}

In [270]:
import requests
import json
import pandas as pd

# 변수설정
# {"tbLnOpendataRtmsV": { "list_total_count": 1862 = max_num
SERVICE_KEY = '564b7852646a686a34336f4f6c5571'
max_num = data_json['tbLnOpendataRtmsV']['list_total_count'] # 최종페이지
df_list = [] # 데이터 프레임 리스트를 담을 변수

for start_num in range(1, max_num, 1000):
    end_num = start_num + 999 # 갖고올 페이지 범위 시작 페이지 + 999 = 최대 1000 page만 가져올 수 있도록
    if end_num > max_num: # end_num이 max보다 클 시 end_num 숫자를 max_num으로 변환
        end_num = max_num
    url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{start_num}/{end_num}/2023/11560'
    req = requests.get(url)
    content = req.json() # req.json() 정보 content 변수로 저장
    df = pd.DataFrame(content['tbLnOpendataRtmsV']['row']) # content 변수 저장값 데이터 프레임화 시켜서 df 변수에 저장
    df_list.append(df) # df_list 에 append 로 df 값들 저장

result_df = pd.concat(df_list, ignore_index=True) # pd.concat 으로 데이터 프레임 합치기
result_df # 합친 데이터 프레임 출력
result_df.to_csv("ATP_data.csv", index=False, encoding='utf-8-sig')

# 과제
# 시작 인덱스 1, 끝 인덱스는 12000 반복문 통해서
# 시작 인덱스와 끝 인덱스를 조정하면, 원하는 데이터가 출력
# 시작 1 ~ 1000 -> df1
# 시작 1001 ~ 2000 -> df2
# 시작 2001 ~ 3000 -> df3

In [212]:
content = req.json()
result = pd.DataFrame(content['tbLnOpendataRtmsV']['row'])
result

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2023,11560,영등포구,10800,영등포동7가,1,대지,0094,0064,영등포 리버텔,...,12350,27.75,39.63,3.0,,,2004,오피스텔,중개거래,서울 영등포구
1,2023,11560,영등포구,13300,대림동,1,대지,0662,0011,해담채,...,25000,29.66,19.34,5.0,,,2017,연립다세대,직거래,
2,2023,11560,영등포구,13300,대림동,1,대지,1116,0044,미승하이츠E동(1116-44),...,24000,55.37,20.77,2.0,,,1998,연립다세대,중개거래,서울 영등포구
3,2023,11560,영등포구,13300,대림동,1,대지,0680,0003,민하우스2,...,27650,29.06,17.75,3.0,,,2023,연립다세대,직거래,
4,2023,11560,영등포구,13300,대림동,1,대지,0680,0003,민하우스2,...,27350,29.06,17.75,2.0,,,2023,연립다세대,직거래,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2023,11560,영등포구,11800,도림동,,,,,,...,66000,98.25,76.00,0.0,,,1994,단독다가구,중개거래,서울 영등포구
358,2023,11560,영등포구,13000,양평동6가,1,대지,0081,0000,금강노블레스,...,44000,35.54,45.12,14.0,,20230201,2022,오피스텔,직거래,
359,2023,11560,영등포구,10800,영등포동7가,1,대지,0104,0005,여의도 웨스턴 힐 오피스텔,...,26616,17.38,26.11,3.0,,,2022,오피스텔,직거래,
360,2023,11560,영등포구,13300,대림동,1,대지,0851,0100,하나세인스톤,...,26000,29.20,13.93,4.0,,,2016,연립다세대,중개거래,서울 영등포구
361,2023,11560,영등포구,10800,영등포동7가,1,대지,0208,0000,포레나 영등포 센트럴,...,20600,19.31,35.15,21.0,,20230130,2020,오피스텔,중개거래,서울 영등포구

In [268]:
import requests
import json
import pandas as pd
import xmltodict

SERVICE_KEY = '5ndtXpGgDUjWmGUKTUw4aR0XUEjNMhy4sBcaUO6f0TKfqHKPWI3js1btupUfWAP7Cdn8KjSTNhlgIi12S5uqQA%3D%3D'
url = f'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcLandTrade?LAWD_CD=11110&DEAL_YMD=201512&serviceKey={SERVICE_KEY}'
req = requests.get(url)
# req code 200

data_dict = xmltodict.parse(req.text) # xml 자료 dict 로 파싱
# data_dict

pd.DataFrame(data_dict['response']['body']['items']['item']) # dict 데이터를 데이터 프레임으로 변환
df.to_csv("LS_data.csv", index=False, encoding='utf-8-sig')